-- Supprimer la base de données exemple si elle existe déjà
drop database exemple;
-- Créer une nouvelle base de données appelée exemple
create database exemple;
-- Sélectionner la base de données exemple pour y effectuer les opérations suivantes
use exemple;
-- Créer la table dept avec trois colonnes : nodept, nom, noregion
CREATE TABLE dept (
	nodept 		varchar(50) NOT NULL PRIMARY KEY,
	nom 		varchar(50) NOT NULL,
	noregion 	varchar(50) NOT NULL
);
-- Créer la table employe avec huit colonnes : noemp, nom, prenom, dateemb, nosup, titre, nodep, salaire, tauxcom
CREATE TABLE employe(
	noemp 		int NOT NULL PRIMARY KEY,
	nom 		varchar(50) NOT NULL,
	prenom 		varchar(50) NOT NULL,
	dateemb 	datetime NOT NULL,
	nosup 		varchar(50) NULL,
	titre 		varchar(50) NOT NULL,
	nodep 		varchar(50) NOT NULL REFERENCES dept(nodept),
	salaire 	decimal(18, 0) NOT NULL,
	tauxcom 	decimal(18, 0) NULL
);
-- Insérer des données dans la table dept
INSERT INTO dept (nodept, nom, noregion) VALUES
('10', 'finance', '1'),
('20', 'atelier', '2'),
('30', 'atelier', '3'),
('31', 'vente', '1'),
('32', 'vente', '2'),
('33', 'vente', '3'),
('34', 'vente', '4'),
('35', 'vente', '5'),
('41', 'distribution', '1'),
('42', 'distribution', '2'),
('43', 'distribution', '3'),
('44', 'distribution', '4'),
('45', 'distribution', '5'),
('50', 'administration', '1');
-- Insérer des données dans la table employe
-- Affiche toutes les colonnes de la table employe
SELECT * FROM employe;
-- Affiche toutes les colonnes de la table dept
SELECT * FROM dept;
-- Affiche le nom, la date d'embauche, le numéro du supérieur, le numéro de département et le salaire de tous les employés
SELECT nom, dateemb, nosup, nodep, salaire
FROM employe;
-- Sélectionne les titres uniques de tous les employés
SELECT DISTINCT titre FROM employe;
-- Afficher les différentes valeurs des titres des employés
SELECT DISTINCT titre FROM employe;
-- Afficher le nom, le numéro d'employé et le numéro du département des employés dont le titre est « Secrétaire »
SELECT nom, noemp, nodep 
FROM employe 
WHERE titre = 'Secrétaire';
-- Afficher le nom et le numéro de département des employés dont le numéro de département est supérieur à 40
SELECT nom, nodep 
FROM employe 
WHERE CAST(nodep AS INT) > 40;
-- Afficher le nom et le prénom des employés dont le nom est alphabétiquement antérieur au prénom
SELECT nom, prenom
FROM employe
WHERE nom < prenom;
-- Afficher le nom, le salaire et le numéro du département des employés
-- dont le titre est « Représentant », le numéro de département est 35
-- et le salaire est supérieur à 20000.
SELECT nom, salaire, nodep
FROM employe
WHERE titre = 'Représentant'
AND nodep = '35'
AND salaire > 20000;
-- Afficher le nom, le titre et le salaire des employés
-- dont le titre est « Représentant » ou dont le titre est « Président ».
SELECT nom, titre, salaire
FROM employe
WHERE titre = 'Représentant'
OR titre = 'Président';
-- Afficher le nom, le titre, le numéro de département, le salaire des employés
-- du département 34, dont le titre est « Représentant » ou « Secrétaire ».
SELECT nom, titre, nodep, salaire
FROM employe
WHERE nodep = '34'
AND (titre = 'Représentant' OR titre = 'Secrétaire');
--Affiche le nom, et le salaire des employés dont le salaire est compris entre 20000 et 30000
SELECT nom, salaire
FROM employes
WHERE salaire BETWEEN 20000 AND 30000;




 